.footer-section{
  background:#061936;
  color:white;
}

.footer-cta{
  background:linear-gradient(90deg,#08275a,#0b3fa4);
  padding:35px 70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:30px;
}

.footer-cta-left{
  display:flex;
  align-items:center;
  gap:25px;
}

.footer-cta-icon{
    width: 55px;
    height: 55px;

    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    cursor: pointer;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
}
.footer-cta-icon img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    display: block;
    margin-bottom: 0px;
}

.footer-cta h2{
  font-size:28px;
  margin-bottom:8px;
}

.footer-cta p{
  color:#dbeafe;
  font-size:17px;
}

.footer-cta-buttons{
  display:flex;
  gap:18px;
}

.footer-cta-buttons img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    flex-shrink: 0;
}

.footer-cta-buttons a{
  height: 50px;
  padding:15px 24px;
  border-radius:10px;
  color:white;
  text-decoration:none;
  font-weight:700;
  border:1px solid rgba(255,255,255,0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(5px);
}

.footer-cta-buttons a:first-child{
  background:#1f6fff;
}

.footer-main{
  padding:50px 70px 30px;
  display:grid;
  grid-template-columns:1.4fr 1fr 1fr 1.2fr;
  gap:45px;
}

.footer-brand img{
  width:190px;
  margin-bottom:20px;
}

.footer-brand p,
.footer-col p{
  color:#cbd5e1;
  line-height:1.7;
  margin-bottom:10px;
}

.footer-col h4{
  color:#3b82f6;
  font-size:18px;
  margin-bottom:20px;
}
.footer_icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    color: #cbd5e1;
    font-size: 14px;
    line-height: 1.5;
}

.footer_icon img{
    width: 18px;
    height: 18px;
    object-fit: contain;
    flex-shrink: 0;
}

.footer-social{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 22px;
}

.linkedIn,
.instagram{
    width: 55px;
    height: 55px;

    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    cursor: pointer;

    transition: all 0.3s ease;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);

}

.linkedIn img,
.instagram img{
    width: 28px;
    height: 28px;
    object-fit: contain;
    display: block;
    margin-bottom: 0px;
}

.linkedIn:hover,
.instagram:hover{
    /* background-color: #ffffff; */
    transform: translateY(-3px);
}

.linkedIn:hover img,
.instagram:hover img{
    transform: scale(1.05);
}


/* .footer-social span{
  width:36px;
  height:36px;
  border-radius:50%;
  border:1px solid rgba(255,255,255,0.25);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
} */

.footer-map{
  margin:0 70px 30px;
  height:320px;
  border-radius:14px;
  overflow:hidden;
}

.footer-map iframe{
  width:100%;
  height:100%;
  border:0;
}

.footer-bottom{
  border-top:1px solid rgba(255,255,255,0.1);
  padding:20px 70px;
  display:flex;
  justify-content:center;
  color:#94a3b8;
}

/* Tablet */
@media(max-width:1023px){
  .footer-cta{
    padding:35px 30px;
    flex-direction:column;
    align-items:flex-start;
  }

  .footer-main{
    padding:45px 30px 30px;
    grid-template-columns:repeat(2,1fr);
  }

  .footer-map{
    margin:0 30px 30px;
  }

  .footer-bottom{
    padding:20px 30px;
    flex-direction:column;
    gap:10px;
    text-align:center;
  }
}

/* Mobile */
@media(max-width:767px){
  .footer-cta{
    padding:30px 20px;
  }

  .footer-cta-left{
    flex-direction:column;
    align-items:flex-start;
  }

  .footer-cta h2{
    font-size:28px;
  }

  .footer-cta-buttons{
    width:100%;
    flex-direction:column;
  }

  .footer-cta-buttons a{
    text-align:center;
  }

  .footer-main{
    padding:40px 20px 25px;
    grid-template-columns:1fr;
    gap:30px;
  }

  .footer-map{
    margin:0 20px 25px;
    height:300px;
  }

  .footer-bottom{
    padding:18px 20px;
  }
}