.navbar {
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.nav-container img{
  width: 150px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: #0b1533;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link a:hover {
  color: #2f6bff;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #2f6bff;
  transition: width 0.3s ease;
}

.nav-link a:hover::after {
  width: 100%;
}


.btn-menu {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav-container {
    padding: 12px 20px;
  }

  .nav-link {
    gap: 20px;
  }

  /* .nav-logo img {
    width: 95px;
  } */
}

@media (max-width: 768px) {
  .btn-menu {
    display: block;
  }

  .nav-container {
    position: relative;
  }

  .nav-link {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 24px;
    display: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }

  .nav-link.active {
    display: flex;
  }
}

